

.custom-navbar {
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 1000;
}

.custom-toggler {
    border-color: white !important;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath stroke='white' stroke-linecap='round' stroke-width='2' d='M1 4h14M1 8h14M1 12h14'/%3E%3C/svg%3E");
}

.custom-collapse {
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1001;
}

.custom-collapse .navbar-nav {
    background-color: #343a40;
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-item {
    color: white !important;
    text-transform: uppercase;
    font-weight: bold;
    margin: 10px 0;
}

.nav-item:hover {
    color: #d8a0ff !important;
}

@media (min-width: 992px) {
    .custom-collapse {
        position: static;
        width: auto;
        z-index: auto;
    }

    .custom-collapse .navbar-nav {
        flex-direction: row;
        align-items: center;
        padding: 0;
        background-color: transparent;
        border: none;
        margin: 0;
        justify-content: center;
    }

    .nav-item {
        margin: 0 10px;
    }
}