.custom-button {
    background-color: #15212d;
    border-color: #404040;
    color: white;
}

.custom-button:hover {
    background-color: #000000;
    border-color: #000000;
}

.text-center a {
    color: #007bff;
}

.text-center a:hover {
    color: #0056b3;
}

.card-max-width {
    max-width: 400px;
    width: 100%;
}

.container-center {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}